name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew build

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            build/libs/*.jar
            build/intermediates/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}